<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../../static/style.css">
  </head>
  <body>
    <nav>
      <ul class="menu">
        <li class="menu-item"><a href="/?page=1">Productos</a></li>
        <li class="menu-item"><a href="/chats">Chat</a></li>
        <li class="menu-item"><a href="/cart">Cart</a></li>
      </ul>
    </nav>
    <main>
       {{{body}}}
    </main>
 
    <script src="socket.io/socket.io.js"></script>
    <script src="./static/index.js"></script>
    <script src="../static/chat.js"></script>
    <script src="../static/products.js"></script>
  </body>
</html>