<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../../static/style.css">
  </head>
  <body>
    <nav>
      <ul class="menu">
        <li href="/" class="menu-item">Productos</li>
        <li href="/chat" class="menu-item">Chat</li>
        <li class="menu-item">Cart</li>
      </ul>
    </nav>
          {{{body}}}
 
    <script src="socket.io/socket.io.js"></script>
    <script src="./static/index.js"></script>
    <script src="../static/chat.js"></script>
    <script src="../static/products.js"></script>
  </body>
</html>