<div clas="chat-room">
    <h1 class="chat-title">Chat room</h1>
</div>
<div class="conversation" id="conversation">
    <div class="message">
        <h3 class="user">User</h3>
        <p class="msg">This chat</p>
        <span class="time">15:00</span>
    </div>
    <div class="message">
        <h3 class="user">User</h3>
        <p class="msg">This chat</p>
        <span class="time">15:00</span>
    </div>
    <div class="message">
        <h3 class="user">User</h3>
        <p class="msg">This chat</p>
        <span class="time">15:00</span>
    </div>
</div>
<div class="escribir">
    <input type="text" class="input" id="input" placeholder="escribe aqui">
</div>