<div clas="chat-room">
    <h1 class="chat-title">Chat room</h1>
</div>
<div class="conversation" id="convers">
    
</div>
<div class="escribir">
    <input type="text" class="input" id="input" placeholder="escribe aqui">
</div>


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>    
