<h1 class="detail-t">Detail Product</h1>

<div class="product-detail">
    <div class="detail-info">
        <h2 class="detail-title">{{ title}}</h2>
        <p class="detail-desc">{{ desc }}</p>
        <span class="detail-price">${{ price }}</span>
    </div>
    <button class="addbutton" id="{{ id }}">Agregar al carrito</button>
</div>