<div class="session">
  <h3 class="session-title">Inicia sesion</h3>
  <form class="session-form" method="post">
      <div class="session-user">
        <label for="user">User</label>
        <input name="user" type="text">
      </div>
      <div class="session-pass">
        <label for="password">Password</label>
        <input name="password" type="password">
      </div>
    <div class="session-btn">
        <button class="btn-form">Entrar</button>
    </div>
  </form>
</div>