* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    
}

/* Home */

nav {
    height: 10%;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu {
    width: 100%;
    display: flex;
    list-style: none;
    justify-content: space-around;
}

a {
    text-decoration: none;
    color: black;
}

.menu-item {
    font-size: 30px;
}

/* Products */
.title-home {
    width: 100%;
    font-size: 50px;
    display: flex;
    justify-content: center;
    padding: 5px 0px 5px 0px;
}

.pages {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 5px 0px 10px 0px;
}

.show-pages {
    width: 60%;
    display: flex;
    justify-content: space-around;
}

.prev-page {
    background-color: blue;
    padding: 10px;
    border-radius: 15px;
    font-size: 30px;
    color: white;
}

.this-page {
    font-size: 40px;
    color: black;
}

.next-page {
    background-color: blue;
    padding: 10px;
    border-radius: 15px;
    font-size: 30px;
    color: white;
}

.products {
    background-color: azure;
    margin-inline: 5%;
    padding: 2%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.product {
    background-color: white;
    border: solid gray 2px;
    padding: 5%;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
}

.name-product {
    color: blue;
    margin-bottom: 5px;
}

.desc-product {
    margin-bottom: 5px;
}

.precio-product {
    font-size: 20px;
    margin-bottom: 10px;
}

button {
    margin: 20%;
}

/* Detail Product */

.detail-t {
    font-size: 40px;
    margin-left: 20%;
    margin-bottom: 10px;
}

.product-detail {
    margin-inline: 5%;
    padding: 2%;
    border: 4px solid green;
    border-radius: 1rem;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.detail-info {
    display: flex;
    flex-direction: column;
}

.detail-title {
    color: blue;
    margin-bottom: 5px;
}

.detail-desc {
    margin-bottom: 10px;
}

.detail-price {
    font-size: 25px;
    margin-bottom: 10px;
}

/* chat */
.chat-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10vh;
    background-color: green;
    font-size: 60px;
}

.conversation {
    background-color: gainsboro;
    height: 80vh ;
    margin-inline: 50px;
    padding-top: 15px;
    padding-inline: 25px;
}

.user {
    text-transform: uppercase;
    color: green;
    font-size: 25px;
}

.time {
    text-transform: lowercase;
    color: gray;
    font-size: 15px;
}

.msg {
    text-transform: lowercase;
    font-size: 20px;
}

.msg::first-letter {
    text-transform: uppercase;
}

.escribir {
    width: 100%;
    height: 10vh;
    display: flex;
    padding: 20px;
}

.escribir input {
    width: 100%;
    font-size: 40px;
}



